<div class="homeHeader jumbotron">
	<div class="container">
		<h1 class="col-md-12">Find your next great...</h1>
	</div>
</div>

<div class="forDevAndDes">
	<div class="devSection col-sm-6">
		<h2>
			<%= link_to "Developers", developers_path %>
		</h2>
	</div>
	<div class="designSection col-sm-6">
		<h2>
			<%= link_to "Designers", designers_path %>
		</h2>
	</div>
</div>

<div class="whySection">
	<div class="container">
		<div class="col-md-6">
			<h1>Why NYCDA?</h1><br>
				<h3>Outcomes Driven</h3>
				<p>Our focus is on pushing only the highest quality developers and designers into the industry</p>
				<h3>Industry Standard</h3>
				<p>We handpick leading developers and designers in the industry to help instruct and mentor our students</p>
				<h3>True Diversity</h3>
				<p>Our students come from all backgrounds of life, bringing experiences and skills that translate to successful workmanship</p><br>
				<a href="https://nycda.com/" target="_blank" class="btn btn-primary btn-lg">Learn More</a>
		</div>
	</div>
</div>
