<div class="homeHeader">
	<h1 class="col-md-12">Find your next great...</h1>
</div>

<div class="row">
	<div class="devSection col-md-6">
		<h2>
			<a href="#">Developers</a>
		</h2>
	</div>

	<div class="designSection col-md-6">
		<h2>
			<a href="#">Designers</a>
		</h2>
	</div>
</div>

<div class="whySection col-md-12 row">
	<h1>Why Hire Our Graduates?</h1>
	<div class="col-md-4">
		<h3>High Quality Talent</h3>
	</div>
	<div class="col-md-4">
		<h3>Diversity!</h3>
	</div>
	<div class="col-md-4">
		<h3>100% free</h3>
	</div>
</div>
