 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "home";
 @import "profiles";

.experiences {
	border-bottom: 1px solid grey;
}

.educations {
	border-bottom: 1px solid grey;
}

.navbar.navbar-default {
	margin: 0;
}