 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "home";
 @import "developers";
 @import "designers";
 @import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300');

.experiences {
	border-bottom: 1px solid grey;
}

.educations {
	border-bottom: 1px solid grey;
}

.navbar.navbar-default {
	margin: 0;
}

.alert {
	margin-bottom: 0;
}