// Place all the styles related to the designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.desPageHeader {
	width: 100%;
	padding: 10% 0;
	background: url(des.jpg) center center;
	background-size: cover;

	h1 {
		font-weight: 300;
		color: #fff;
	}
}


.desList {
	margin: 10% auto;

	h2 {
		font-weight: 300;
		a {
			color: #111;
		}
	}

	.location { 
		font-weight: 100;
		color: #888;
	}
}