// Place all the styles related to the developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.devPageHeader {
	width: 100%;
	padding: 10% 0;
	background: url(dev.jpg) center center;
	background-size: cover;

	h1 {
		font-weight: 300;
		color: #fff;
	}
}

.devList {
	margin: 10% auto;

	.devAvatar {
		img {
			border-radius: 50%;
		}
	}

	h2 {
		font-weight: 300;
		a {
			color: #111;
		}
	}

	.location { 
		font-weight: 100;
		color: #888;
	}
}