// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font: 'Work Sans', sans-serif;
$yellow: #f4e092;

body {
	font-family: $font;
}


.homeHeader {
	background: url("header.jpg") center center;
	background-size: cover;
	height: 85vh;
	width: 100%;
	padding: 18% 0;
	margin: 0;

	@media (max-width: 856px) {
		height: 75vh;
	}

	h1 {
		color: #fff;
		text-shadow: 1px 1px 2px #8b8989;
		font-weight: 300;
		margin: 0;
	}
}



.forFixedBar {
	background-color: #222;
	padding: 31px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 99;

	@media (max-width: 856px) {
		position: relative;
		text-align: left;
	}

	.titleSection {
		h2 {
			margin: 0;
			font-weight: 300;

			a {
				color: #fff;
				font-weight: 100;
			}
		}
	}

	.devSection {
		@extend .titleSection;
	}

	.designSection {
		@extend .titleSection;
	}
}



.whySection {
	height: 100%;
	width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    color: #111;

    h1 {
    	font-weight: 300;
    }

    h4 {
    	font-weight: 100;
    }

}


.companySignUp {
	@extend .whySection;
	background: url("nyStreet.jpg") center center;
	background-size: cover;
	color: #fff;
	z-index: -99;

	h1, h4 {
		text-shadow: 1px 1px 2px #8b8989;
	}
}











