// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font: 'Work Sans', sans-serif;
$yellow: #f4e092;

body {
	font-family: $font;
}


.homeHeader {
	text-align: center;
	background: url("ny3.jpg") center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 18%;
	margin: 0;

	h1 {
		margin: 0;
		color: #fff;
		font-weight: 600;
	}
}

.forDevAndDes {
	background-color: #333;
	padding-top: 5%;
	padding-bottom: 5%;

	.devSection {
		text-align: center;

		img {
			width: 100%;
		}

		h2 {
			margin: 0;
			a {
				color: #fff;
				font-weight: 600;
			}
		}
	}

	.designSection {
		@extend .devSection;
	}
}











