// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$font: 'Work Sans', sans-serif;
$yellow: #f4e092;

body {
	font-family: $font;
}


.homeHeader {
	text-align: center;
	background: url("ny3.jpg") center center;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding: 18% 0;
	margin: 0;

	h1 {
		margin: 0;
		color: #fff;
		text-shadow: 1px 1px 2px #8b8989;
		font-weight: 300;
	}
}



.forDevAndDes {
	background-color: #222;
	padding: 31px;
	position: fixed;
	width: 100%;

	@media (max-width: 600px) {
		position: relative;
	}

	.devSection {
		text-align: center;

		img {
			width: 100%;
		}

		h2 {
			margin: 0;
			font-weight: 100;
			a {
				color: #fff;
			}
		}
	}

	.designSection {
		@extend .devSection;
	}
}



.whySection {
	background: url("ny2.jpg") center center;
	background-size: cover;
	height: 100%;
	width: 100%;
    padding-top: 18%;
    padding-bottom: 18%;
    color: #fff;

    h1 {
    	color: #111;
    	font-weight: 300;
    }

    p {
    	font-weight: 100;
    	text-shadow: 1px 1px 2px #8b8989;
    }

}











